<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ProductMapper">
  <resultMap id="ProductResultMap" type="com.example.app.dto.ProductDto">
    <result property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="description" column="description"/>
    <result property="price" column="price"/>
    <result property="stock" column="stock"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedAt" column="updated_at"/>
  </resultMap>

  <select id="getProductList" resultMap="ProductResultMap">
    select id, name, description, price, stock, created_at, updated_at
    from products
    order by id
  </select>

  <insert id="createProduct" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO products (name, description, price, stock)
    VALUES (#{name}, #{description}, #{price}, #{stock})
  </insert>

  <update id="updateProductUrl">
    UPDATE products
    SET
      s3_path = #{s3Path}
    WHERE
      id = #{id}
  </update>
</mapper>