<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.S3FileMapper">

  <insert id="insertS3File" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO S3_FILES (entity_type, entity_id, s3_path)
    VALUES (#{entityType.value}, #{entityId}, #{s3Path})
  </insert>

</mapper>

